<?php

/**
 * @file
 * Settings for the development VM environment.
 */

$databases['default']['default'] = array(
  'database' => '{{ drupal_db_name }}',
  'username' => '{{ drupal_db_user }}',
  'password' => '{{ drupal_db_password }}',
  'prefix' => '',
  'host' => '{{ drupal_db_host|default(localhost) }}',
  {% if drupal_major_version > 7 %}'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',{% endif %}
  'driver' => 'mysql',
);
{% if drupal_db_migrate_name %}
$databases['{{ drupal_db_migrate_key }}']['default'] = array(
  'database' => '{{ drupal_db_migrate_name }}',
  'username' => '{{ drupal_db_user }}',
  'password' => '{{ drupal_db_password }}',
  'prefix' => '',
  'host' => '{{ drupal_db_host|default(localhost) }}',
  {% if drupal_major_version > 7 %}'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',{% endif %}
  'driver' => 'mysql',
);
{% endif %}

{% if drupal_major_version > 7 %}
$settings['trusted_host_patterns'] = array(
  '^(.*\.)*{{ vagrant_hostname|default("*")|replace(".", "\.") }}$'
);

$config_directories = array(
  CONFIG_SYNC_DIRECTORY => '../config/sync',
);

$settings['hash_salt'] = 's@lt1s4SQLn0t4$na1l$';
{% endif %}
